html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}
optgroup {
  font-weight: bold;
}
button,
input {
  /* 1 */
  overflow: visible;
}
button,
select {
  /* 1 */
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/*fonts*/
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "DINWeb";
  src: url("../public/assets/fonts/DINWeb.woff2") format("woff2");
}
@font-face {
  font-family: 'Awesome';
  font-style: normal;
  font-weight: normal;
  src: url("../public/assets/fonts/awesome.woff2") format("woff2");
}
.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1200px;
}
.container::after {
  clear: both;
  content: "";
  display: table;
}
/*general*/
html,
body {
  background: #ffffff;
  color: #000000;
  font-size: 13px;
  font-family: 'DINWeb', "Arial", sans-serif;
  font-weight: normal;
  line-height: 1.6;
  margin: 0;
  min-width: 1220px;
  padding: 0;
  position: relative;
  z-index: 2;
}
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}
.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1200px;
}
.btn {
  border: none;
  display: block;
  font: inherit;
  color: inherit;
  cursor: pointer;
  line-height: 1;
  outline: none;
  padding: 12px 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 140px;
}
.main-footer__section {
  border-right: 1px solid #878787;
  float: left;
  margin: 0 40px 0 0;
  min-height: 140px;
  padding: 10px 40px 0 0;
  text-align: justify;
}
.wrapper::before {
  bottom: 16px;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
  content: "";
  height: 2%;
  /*?*/
  left: 20px;
  max-width: 300px;
  /*?*/
  position: absolute;
  transform: skew(-15deg) rotate(-6deg);
  width: 50%;
  /*?*/
  z-index: -1;
}
.wrapper::after {
  bottom: 16px;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
  content: "";
  height: 2%;
  /*?*/
  left: auto;
  max-width: 300px;
  /*?*/
  position: absolute;
  right: 20px;
  transform: skew(15deg) rotate(6deg);
  width: 50%;
  /*?*/
  z-index: -1;
}
/*admin_area*/
/*header*/
.m-header {
  color: #fffae1;
}
.m-header--top {
  background: #364d4c;
  margin: 0;
  min-height: 42px;
  padding: 0;
}
.m-header--middle {
  background: #f9f4f3;
}
.m-header--bottom {
  background: #f9f4f3;
  margin: 0 0 40px;
}
.m-header__container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1200px;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.m-header__container::after {
  clear: both;
  content: "";
  display: table;
}
.m-header__logo {
  background: #ed5752;
  box-shadow: 0 8px 6px -6px grey;
  color: #fffae1;
  cursor: pointer;
  font-size: 24px;
  line-height: 1;
  min-height: 24px;
  padding: 9px 10px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 200px;
}
.m-header__logo a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}
.m-header__form {
  position: relative;
}
.m-header__input {
  background: inherit;
  border: none;
  color: inherit;
  font-size: 19px;
  line-height: 1;
  margin: 0;
  min-height: 42px;
  outline: none;
  padding: 0 0 0 50px;
  position: relative;
  text-transform: uppercase;
  width: 270px;
}
.m-header__input::-webkit-input-placeholder {
  opacity: 1;
}
.m-header__input:-moz-placeholder {
  opacity: 1;
}
.m-header__form span::before {
  content: "\f002";
  font-family: "Awesome";
  font-size: 17px;
  line-height: 17px;
  left: 18px;
  opacity: 0.4;
  position: absolute;
  top: 10px;
}
.m-header__link {
  font-size: 18px;
  font-weight: normal;
  color: inherit;
  line-height: 1;
  margin: 0;
  padding: 12px 0 12px 45px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 105px;
}
.m-header__link--bookmarks::before {
  content: "\f097";
  font-family: "Awesome";
  font-size: 17px;
  left: 15px;
  line-height: 17px;
  opacity: 0.3;
  position: absolute;
  top: 10px;
}
.m-header__link--cart::before {
  content: "\f07a";
  font-family: "Awesome";
  font-size: 17px;
  left: 15px;
  line-height: 17px;
  opacity: 0.3;
  position: absolute;
  top: 10px;
}
.m-header__order-btn {
  border: none;
  display: block;
  font: inherit;
  cursor: pointer;
  outline: none;
  padding: 12px 5px;
  text-align: center;
  text-transform: uppercase;
  width: 140px;
  font-size: 18px;
  font-weight: normal;
  color: inherit;
  line-height: 1;
  margin: 0;
  min-height: 18px;
  text-decoration: none;
}
.m-header__user-block {
  display: flex;
  flex-direction: row;
  font-size: 18px;
  justify-content: center;
  margin: 0;
  width: 260px;
}
.m-header__login-btn {
  border: none;
  display: block;
  font: inherit;
  color: inherit;
  cursor: pointer;
  line-height: 1;
  outline: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 140px;
  background: transparent;
  font-size: inherit;
  padding: 12px 5px;
  position: relative;
  width: 90px;
}
.m-header__login-btn::before {
  content: "\f090";
  font-family: "Awesome";
  font-size: 17px;
  left: 5px;
  line-height: 17px;
  opacity: 0.3;
  position: absolute;
  top: 10px;
}
.m-header__signin-btn {
  border: none;
  display: block;
  font: inherit;
  color: inherit;
  cursor: pointer;
  line-height: 1;
  outline: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 140px;
  background: transparent;
  font-size: inherit;
  padding: 12px 5px;
  width: 90px;
}
/*-FX-*/
.m-header__input:hover {
  background: #7da3a1;
}
.m-header__input:hover + span::before {
  opacity: 1;
}
.m-header__input:focus {
  background: #ffffff;
  color: #000000;
}
.m-header__input:focus + span::before {
  color: #ed5752;
}
.m-header__link--bookmarks:hover::before {
  opacity: 1;
}
.m-header__link--cart:hover::before {
  opacity: 1;
}
.m-header__link:hover {
  background: #7da3a1;
}
.m-header__order-btn:hover {
  background: #7da3a1;
}
.m-header a:active {
  opacity: 0.6;
}
.m-header__login-btn:hover::before {
  opacity: 1;
}
.big-slider {
  height: 266px;
  position: relative;
  text-align: center;
}
.big-slider input {
  display: none;
}
.big-slider input:checked + label {
  background: #ad6255;
}
.big-slider input:checked + label + a img {
  opacity: 1;
  transition: transform ease-in-out 0.4s, opacity ease-in-out 0.5s;
}
.big-slider input:checked + label + a:first-of-type {
  background: url("../public/assets/images/banner1.jpg") 0 0 no-repeat;
  opacity: 1;
  transition: transform ease-in-out 0.4s, opacity ease-in-out 0.5s;
}
.big-slider input:checked + label + a:nth-of-type(2) {
  background: url("../public/assets/images/banner2.jpg") 0 0 no-repeat;
  opacity: 1;
  transition: transform ease-in-out 0.4s, opacity ease-in-out 0.5s;
}
.big-slider input:checked + label + a:last-of-type {
  background: url("../public/assets/images/banner3.jpg") 0 0 no-repeat;
  opacity: 1;
  transition: transform ease-in-out 0.4s, opacity ease-in-out 0.5s;
}
.big-slider input:checked + label + a + .big-slider__container {
  display: block;
}
.big-slider > label {
  border: 2px solid #fffae1;
  border-radius: 50%;
  bottom: -240px;
  height: 8px;
  display: inline-block;
  margin: 0 1px;
  position: relative;
  width: 8px;
  z-index: 1;
}
.big-slider > a {
  height: 266px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 1200px;
}
.big-slider__controls label::after {
  color: #ad6255;
  font-family: "Consolas";
  font-size: 60px;
  height: 45px;
  line-height: .6;
  position: absolute;
  top: 110px;
  width: 40px;
}
#slide-1:checked ~ .big-slider__controls label:nth-child(2)::after,
#slide-2:checked ~ .big-slider__controls label:nth-child(3)::after,
#slide-3:checked ~ .big-slider__controls label:nth-child(1)::after {
  content: ">";
  float: right;
  right: 25px;
}
#slide-1:checked ~ .big-slider__controls label:nth-child(3)::after,
#slide-2:checked ~ .big-slider__controls label:nth-child(1)::after,
#slide-3:checked ~ .big-slider__controls label:nth-child(2)::after {
  content: "<";
  float: left;
  left: 25px;
}
#slide-1:checked ~ .big-slider__controls label:hover::after,
#slide-2:checked ~ .big-slider__controls label:hover::after,
#slide-3:checked ~ .big-slider__controls label:hover::after {
  font-size: 42px;
  line-height: .9;
  opacity: .8;
  padding: 10px 0;
  top: 102px;
}
.big-slider__container {
  color: #ad6255;
  display: none;
  position: absolute;
  right: 8%;
  top: 65%;
  text-align: center;
  z-index: 2;
}
.big-slider__container:nth-of-type(2) {
  right: 57%;
  top: 43%;
}
.big-slider__container:nth-of-type(3) {
  right: 70%;
  top: 43%;
}
.big-slider__btn {
  border: none;
  display: block;
  font: inherit;
  color: inherit;
  cursor: pointer;
  line-height: 1;
  outline: none;
  padding: 12px 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 140px;
  background: #81a07c;
  border-radius: 3px;
  color: #fffae1;
  padding: 10px 5px;
}
.big-slider__btn--inner {
  background: #ad6255;
}
.big-slider__btn:hover {
  background: #7da3a1;
}
.big-slider__title {
  font-size: 34px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-decoration: underline;
}
.big-slider__title a {
  color: inherit;
  cursor: pointer;
}
.big-slider__text {
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 30px;
  padding: 0;
}
.main-nav {
  background: #4f6457;
  padding: 0;
}
.main-nav__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.main-nav__item {
  position: relative;
}
.main-nav__item a {
  color: inherit;
  display: block;
  font-size: 17px;
  font-family: inherit;
  line-height: 17px;
  padding: 16px 30px;
  text-decoration: none;
  text-transform: uppercase;
}
/*-FX-*/
.main-nav__item:hover {
  box-shadow: 0 0.2px 0.2px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.2) inset;
}
.main-nav__item a:active {
  opacity: 0.8;
}
.main-nav__item::before {
  background: #fff;
  bottom: 0;
  content: "";
  height: 5px;
  left: 50%;
  position: absolute;
  transition: .4s all ease;
  transform: translateX(-50%);
  width: 0;
}
.main-nav__item:hover::before {
  width: calc(100% - 60px);
}
/*admin_header*/
.main-nav--admin {
  background: #74AFAD;
  color: #fffae1;
  margin: 0;
  padding: 0;
  width: 15%;
}
.main-nav__list--admin {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: justify;
}
.main-nav__item--admin:hover {
  box-shadow: 0 0.2px 0.2px rgba(0, 0, 0, 0.5), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.main-nav__item--admin::before {
  background: #fff;
  bottom: 0;
  content: "";
  height: 5px;
  left: 100%;
  position: absolute;
  transition: .5s all ease;
  transform: translateX(-100%);
  width: 0;
}
.main-nav__item:hover::before {
  width: calc(100% - 30px);
}
/*main*/
.main-page {
  margin: 0 auto;
  padding: 0 10px;
  width: 1200px;
}
.main-page::after {
  clear: both;
  content: "";
  display: table;
}
.brand-section {
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  margin: 0 0 20px;
  padding: 5px;
  position: relative;
  /*?*/
}
.brand-section__title {
  color: #ad6255;
  margin: 25px 0 20px;
  min-height: 38px;
  padding: 0 25px;
}
.brand-section__title h2 {
  float: left;
  font-size: 30px;
  font-weight: normal;
  line-height: 38px;
  margin: 0;
  text-transform: uppercase;
  width: 530px;
}
.brand-section__btn {
  display: block;
  background: #7da3a1;
  border-radius: 4px;
  color: #ffffff;
  float: right;
  margin: 0;
  padding: 10px 5px;
  width: 240px;
}
.brand-section__bestsellers-title {
  color: #ad6255;
  margin: 25px 0 20px;
  min-height: 38px;
  padding: 0 25px;
}
.brand-section__bestsellers-title h3 {
  float: left;
  font-size: 30px;
  font-weight: normal;
  line-height: 38px;
  margin: 0;
  text-transform: uppercase;
  width: 530px;
}
/*-FX-*/
.brand-section__wrapper::before,
.brand-section__wrapper::after {
  bottom: 16px;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
  content: "";
  height: 2%;
  /*?*/
  left: 20px;
  max-width: 300px;
  /*?*/
  position: absolute;
  transform: skew(-15deg) rotate(-6deg);
  width: 50%;
  /*?*/
  z-index: -1;
}
.brand-section__wrapper::after {
  left: auto;
  right: 20px;
  transform: skew(15deg) rotate(6deg);
}
.brand-slider {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.05) inset;
}
.brand-slider:hover .brand-slider__item {
  animation-play-state: paused;
}
.brand-slider__mask {
  height: 250px;
  overflow: hidden;
}
.brand-slider__list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.brand-slider__item {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
}
.brand-slider__image-container {
  height: 250px;
  width: 400px;
}
.brand-slider__info-container {
  color: #616161;
  font: inherit;
  padding: 0 20px;
  width: 800px;
}
.brand-slider__title {
  color: #a5a5a5;
  font-size: 20px;
  font-weight: normal;
  margin: 0 15px 15px;
  padding: 0;
  text-transform: uppercase;
}
.brand-slider p {
  font-size: 18px;
  margin: 10px 0 0;
  text-indent: 15px;
}
.brand-slider__tooltip {
  background: rgba(0, 0, 0, 0.7);
  bottom: 2%;
  color: #fffae1;
  left: -250px;
  padding: 8px;
  position: absolute;
  transition: all 0.3s ease-in-out;
}
.brand-slider__tooltip-title {
  font: inherit;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
}
.brand-slider__item:first-child {
  animation: cycle 25s linear infinite;
}
.brand-slider__item:nth-child(2) {
  animation: cycletwo 25s linear infinite;
}
.brand-slider__item:nth-child(3) {
  animation: cyclethree 25s linear infinite;
}
.brand-slider__item:nth-child(4) {
  animation: cyclefour 25s linear infinite;
}
.brand-slider__item:last-child {
  animation: cyclefive 25s linear infinite;
}
.brand-slider__item:hover .brand-slider__tooltip {
  left: 0;
}
/*animation keyframes*/
@keyframes cycle {
  0% {
    top: 0px;
  }
  4% {
    top: 0px;
  }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top: 250px;
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: -250px;
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: -250px;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -250px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@keyframes cycletwo {
  0% {
    top: -250px;
    opacity: 0;
  }
  16% {
    top: -250px;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: 250px;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: -250px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -250px;
    opacity: 0;
    z-index: -1;
  }
}
@keyframes cyclethree {
  0% {
    top: -250px;
    opacity: 0;
  }
  36% {
    top: -250px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
  }
  60% {
    top: 250px;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -250px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -250px;
    opacity: 0;
    z-index: -1;
  }
}
@keyframes cyclefour {
  0% {
    top: -250px;
    opacity: 0;
  }
  56% {
    top: -250px;
    opacity: 0;
  }
  60% {
    top: 0px;
    opacity: 1;
  }
  64% {
    top: 0px;
    opacity: 1;
  }
  76% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  80% {
    top: 250px;
    opacity: 0;
    z-index: 0;
  }
  81% {
    top: -250px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -250px;
    opacity: 0;
    z-index: -1;
  }
}
@keyframes cyclefive {
  0% {
    top: -250px;
    opacity: 0;
  }
  76% {
    top: -250px;
    opacity: 0;
  }
  80% {
    top: 0px;
    opacity: 1;
  }
  84% {
    top: 0px;
    opacity: 1;
  }
  96% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  100% {
    top: 250px;
    opacity: 0;
    z-index: 0;
  }
}
.catalog {
  align-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: normal;
  list-style: none;
  margin: 20px 0 20px;
  min-height: 315px;
  padding: 0;
}
.catalog__item {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  margin: 0 0 20px 0;
  margin-right: calc(103.33333333px);
  padding: 0;
  position: relative;
  width: 220px;
}
.catalog__item--smaller-margin {
  margin-right: calc(26.66666667px);
}
.catalog__item:nth-child(4n) {
  margin-right: 0;
}
.catalog__image-container--small {
  height: 130px;
  padding: 20px 0;
  text-align: center;
  width: auto;
}
.catalog__image-container--small img {
  padding: 0;
  margin: 0;
}
.catalog__item-title {
  color: #616161;
  font-size: 18px;
  line-height: 20px;
  font-weight: inherit;
  margin: 10px 0;
  padding: 0 30px;
  text-align: center;
  text-transform: capitalize;
}
.catalog__item-title span {
  text-transform: uppercase;
}
.catalog__item-btn {
  background: #ad6255;
  border-radius: 3px 0 0 3px;
  color: #ffffff;
  /*?*/
  display: block;
  font-family: inherit;
  font-size: 18px;
  font-weight: inherit;
  line-height: 1;
  margin: 0 0 21px 42px;
  padding: 10px 5px 10px 16px;
  position: relative;
  width: 100px;
}
.catalog__item-btn::after {
  border-top: 19px solid transparent;
  /*rgba(255, 255, 255, 0) smooth*/
  border-bottom: 19px solid transparent;
  border-left: 19px solid #ad6255;
  content: "";
  height: 0;
  right: -15%;
  position: absolute;
  top: 0;
  width: 0;
}
.catalog__buy-item {
  display: none;
  height: 125px;
  left: 0;
  padding: 45px 0 0;
  position: absolute;
  top: 0;
  width: 220px;
}
.catalog__cart-btn {
  background: #7da3a1;
  border-radius: 10px;
  border-bottom: 3px solid #364d4c;
  box-shadow: 0 7px #ccc;
  color: #fff;
  display: block;
  font: inherit;
  font-size: 16px;
  line-height: 16px;
  margin: 0 auto 15px;
  padding: 9px 0 6px;
  width: 135px;
}
.catalog__details-btn {
  background: #7da3a1;
  border-radius: 10px;
  border-bottom: 3px solid #364d4c;
  box-shadow: 0 7px #ccc;
  display: block;
  font: inherit;
  font-size: 16px;
  line-height: 16px;
  margin: 0 auto 15px;
  padding: 9px 0 6px;
  width: 135px;
}
.catalog__details-btn span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
  vertical-align: top;
}
.catalog__details-btn span:after {
  content: '\00bb';
  font-size: 22px;
  line-height: 14px;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.catalog__details-btn {
  /*?*/
  background: #ffffff;
  border: 3px solid #7da3a1;
  color: #32425c;
  width: 129px;
}
/*-FX-*/
.catalog__wrapper::before,
.catalog__wrapper::after {
  bottom: 16px;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
  content: "";
  height: 2%;
  /*?*/
  left: 20px;
  max-width: 300px;
  /*?*/
  position: absolute;
  transform: skew(-15deg) rotate(-6deg);
  width: 50%;
  /*?*/
  z-index: -1;
}
.catalog__wrapper::after {
  left: auto;
  right: 20px;
  transform: skew(15deg) rotate(6deg);
}
.catalog__btn:hover {
  background: #ad6255;
}
.catalog__item:hover {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset, -12px 0 25px -15px grey, 12px 0 25px -15px grey;
}
.catalog__item:hover img {
  filter: blur(2px);
}
.catalog__item:hover .catalog__buy-item {
  display: block;
}
.catalog__cart-btn:hover {
  background: #67928f;
}
.catalog__cart-btn:active {
  background: #577b79;
  box-shadow: 0 3px #7e7e7e;
  transform: translateY(2px);
}
.catalog__details-btn:active {
  background: #577b79;
  box-shadow: 0 3px #7e7e7e;
  transform: translateY(2px);
}
.catalog__details-btn:hover span::after {
  opacity: 1;
  right: 0px;
}
.catalog__details-btn:hover span {
  padding-right: 15px;
}
.catalog__details-btn:active span {
  padding-right: 0;
}
.catalog__details-btn:active span::after {
  opacity: 0;
  right: -20px;
}
.catalog__details-btn:active {
  background: #ffffff;
}
.producers {
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  color: #838383;
  margin: 0 0 20px;
  padding: 25px 5px;
}
.producers__title {
  font-size: 26px;
  font-weight: normal;
  line-height: 1;
  margin: 0 0 20px 25px;
  padding: 0;
  text-transform: uppercase;
}
.producers__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  min-height: 120px;
  padding: 0;
}
.producers__item {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  height: 80px;
  padding: 0;
  transition: all 0.2s ease-in-out;
}
.producers__item:hover {
  box-shadow: none;
}
.producers__link {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 80px;
  width: 120px;
}
.producers__link img {
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.3)));
}
.services {
  background: #f9f4f3;
  color: #616161;
  font-size: 18px;
  line-height: 1.4;
  padding: 30px 0;
}
.services__container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1200px;
}
.services__container::after {
  clear: both;
  content: "";
  display: table;
}
.services__container::after {
  clear: both;
  content: "";
  display: table;
}
.services__title {
  color: #838383;
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
  margin: 0 0 20px;
  padding: 0;
  text-transform: uppercase;
}
.services__text {
  margin: 20px 0;
  padding: 0;
}
/*.services-list-item h2 {
  color: rgb(63, 78, 102);
  font-size: 36px;
}*/
.list-slider {
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
}
.list-slider__content {
  display: none;
}
.list-slider input {
  display: none;
}
.list-slider input:checked + label + .list-slider__content {
  display: block;
  position: absolute;
  top: 0;
  left: 320px;
  right: calc(-960px);
}
.list-slider input:checked + label {
  background: #7da3a1;
  color: #fffae1;
}
.list-slider label {
  box-shadow: 0 1px 2px #000000, 0 0 40px rgba(0, 0, 0, 0.2) inset;
  background: #4f6457;
  border-bottom: 1px solid #2e4141;
  border-top: 1px solid #3e5957;
  color: #fffae1;
  cursor: pointer;
  display: block;
  font-size: 21px;
  line-height: 1;
  min-height: 21px;
  padding: 19px 23px;
  text-transform: capitalize;
  width: 194px;
}
.list-slider label:hover {
  background: #7da3a1;
}
.list-slider label:first-of-type {
  border-top-color: transparent;
}
.list-slider label:last-of-type {
  border-bottom-color: transparent;
}
.list-slider__title {
  color: #838383;
  font-size: 30px;
  font-weight: normal;
  line-height: 1;
  margin: 0 0 20px;
  padding: 0;
  text-transform: uppercase;
}
.list-slider__text {
  margin: 20px 0;
  padding: 0;
}
/*footer*/
.m-footer {
  background: #364d4c;
  color: #fffae1;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}
.m-footer__container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1200px;
}
.m-footer__container::after {
  clear: both;
  content: "";
  display: table;
}
.m-footer__container::after {
  clear: both;
  content: "";
  display: table;
}
.m-footer__sections-container {
  display: inline-block;
  margin: 0 0 -7px;
  padding: 10px 0;
}
.m-footer__sections-container::after {
  clear: both;
  content: "";
  display: table;
}
.m-footer__section {
  float: left;
  min-height: 140px;
  padding: 10px 40px 0 0;
  text-align: justify;
}
.m-footer__section:not(:last-child) {
  border-right: 1px solid #878787;
  margin: 0 40px 0 0;
}
.m-footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.m-footer__item {
  margin: 0 0 5px;
  padding: 0;
}
.m-footer__title {
  font-size: 21px;
  font-weight: normal;
  line-height: 1;
  margin: 0 0 10px;
  padding: 0;
  text-transform: uppercase;
}
.m-footer__text {
  margin: 0 0 4px;
  padding: 0;
}
.m-footer__label {
  display: block;
  font-size: 21px;
  font-weight: normal;
  line-height: 1;
  margin: 0 0 10px;
  padding: 0;
  text-transform: uppercase;
}
.m-footer__item a {
  color: inherit;
  display: inline-block;
  font: inherit;
  font-size: 18px;
  text-decoration: none;
  text-transform: capitalize;
  vertical-align: top;
}
.m-footer__item a:hover {
  text-decoration: underline;
}
.m-footer__copyright {
  display: block;
  font-size: 16px;
  line-height: 1;
  margin: 10px auto 0;
  padding: 10px 0;
  text-align: center;
  width: 240px;
}
.social-section__btn {
  background: #3e5957;
  box-shadow: 0 1px 2px #000000, 0 0 40px rgba(0, 0, 0, 0.2) inset;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-family: "Awesome";
  font-size: 26px;
  height: 41px;
  line-height: 1;
  margin: 0 5px 0 0;
  padding: 0 2.5px;
  position: relative;
  vertical-align: top;
  width: 41px;
}
.social-section__btn:hover {
  background-color: #4e706e;
}
.social-section__btn--fb::before {
  content: "\f082";
  left: 26%;
  position: absolute;
  top: 20%;
  z-index: 50;
}
.social-section__btn--tw::before {
  content: "\f081";
  left: 25%;
  position: absolute;
  top: 20%;
  z-index: 50;
}
.social-section__btn--inst::before {
  content: "\f083";
  left: 23%;
  position: absolute;
  top: 20%;
  z-index: 50;
}
.subscribe {
  box-shadow: 0 1px 2px #000000;
  display: flex;
  flex-direction: row;
  width: 60%;
}
.subscribe__email-input {
  font: inherit;
  font-size: 16px;
  line-height: 1.4;
  border: none;
  outline: none;
  padding: 0 5px;
  width: 100%;
}
.subscribe__btn {
  border: none;
  display: block;
  font: inherit;
  color: inherit;
  cursor: pointer;
  line-height: 1;
  outline: none;
  padding: 12px 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 140px;
  background: #f9f4f3;
  box-shadow: -0.8px 0 1px 0px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.4) inset;
  color: #000;
  font-size: 12px;
  padding: 2px 5px 0;
  width: auto;
}
/*catalog*/
.main-catalog {
  margin: 0 auto;
  padding: 0 10px;
  width: 1200px;
}
.main-catalog::after {
  clear: both;
  content: "";
  display: table;
}
.main-catalog::after {
  clear: both;
  content: "";
  display: table;
}
.main-catalog__title {
  color: #ad6255;
  font-size: 30px;
  font-weight: normal;
  line-height: 38px;
  margin: 25px 0 20px;
  min-height: 38px;
  padding: 0 25px;
  text-transform: uppercase;
}
.main-catalog__inner-content {
  float: right;
  margin: 0 0 20px;
  width: 960px;
}
.breadcrumbs {
  display: flex;
  flex-direction: row;
  font-family: inherit;
  font-size: 16px;
  line-height: 1;
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
  text-transform: uppercase;
}
.breadcrumbs__item {
  padding: 0 40px 0 0;
  position: relative;
}
.breadcrumbs__item:first-child a {
  display: block;
  font-size: 0;
  height: 13px;
  line-height: 1;
  width: 16px;
}
.breadcrumbs__item:first-child a::before {
  color: #616161;
  content: "\f015";
  font-family: "Awesome";
  font-size: 16px;
  opacity: .8;
  position: absolute;
  left: 0;
  top: -2px;
}
.breadcrumbs__item::before {
  color: #616161;
  content: ">";
  font-size: 30px;
  line-height: 1;
  opacity: .4;
  position: absolute;
  right: 16px;
  top: -7px;
}
.breadcrumbs__item:last-child::before {
  display: none;
}
.breadcrumbs__item a {
  color: #616161;
  font: inherit;
  opacity: .8;
  text-decoration: none;
}
.breadcrumbs__item a:hover {
  opacity: 1;
}
.breadcrumbs__item--current {
  color: #c1c6ce;
}
.filter {
  color: #616161;
  float: left;
  margin: 0 0 20px;
  width: 18%;
}
.filter__title {
  background: #ebebeb;
  box-shadow: 0 0 0.4px 0.5px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
  color: #616161;
  font-size: 20px;
  font-weight: normal;
  line-height: 1;
  margin: 0 0 10px;
  padding: 10px 20px;
  text-transform: uppercase;
}
.filter__type {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  color: #616161;
  font-size: 16px;
  line-height: 1.2;
  margin: 0 0 10px;
  padding: 0 0 10px 0;
  text-transform: uppercase;
}
.filter__range {
  margin: 0 0 30px;
}
.filter__line {
  background: linear-gradient(to right, #ad6255 88%, rgba(97, 97, 97, 0.4) 88%);
  height: 2px;
  margin: 35px auto 0;
  position: relative;
  width: 180px;
}
.filter__toggle {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  background: #ad6255;
  border: 7px solid #fff;
  border-radius: 50%;
  bottom: -400%;
  height: 5px;
  position: absolute;
  width: 5px;
}
.filter__toggle-left {
  left: 0;
  /*WIP*/
}
.filter__toggle-right {
  left: calc(78%);
}
.filter__inputs-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 95%;
}
.filter__input {
  background: transparent;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0.44px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.6) inset;
  color: inherit;
  font: inherit;
  font-size: 16px;
  line-height: 1;
  outline: none;
  padding: 10px 5px;
  text-align: center;
  width: 80px;
}
/* no arrows WIP */
.filter__input::-webkit-outer-spin-button,
.filter__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.filter__inputs-container span {
  color: #616161;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  padding: 0;
  padding: 0 8.4px;
}
.filter__type input[type="checkbox"],
.filter__type input[type="radio"] {
  display: none;
}
/*custom1 checkbox*/
/*end custom1 checkbox*/
/*custom2 checkbox*/
.filter__controllers {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.filter__type label {
  border-radius: 3px;
  box-shadow: 0 0.44px 1px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  margin: 0 25px 20px;
  padding: 5px;
  position: relative;
  text-align: center;
  width: 60px;
  /*?*/
}
.filter__type label:nth-child(4n-2) {
  margin-bottom: 0;
  margin-right: 0;
}
.filter__type label:last-child {
  margin-bottom: 0;
}
.filter__type label::before {
  display: none;
}
.filter__type label:hover {
  border-color: #616161;
  box-shadow: 0 0px 2px rgba(97, 97, 97, 0.6);
}
.filter__type input:checked + label {
  color: #ad6255;
  box-shadow: 0 0.45px 0px 1px #ad6255;
}
/*end custom2 checkbox*/
.filter__btn {
  background: #ebebeb;
  border-radius: 3px;
  box-shadow: 0 0 0.4px 0.5px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.4);
  font-size: 16px;
  color: inherit;
  line-height: 1.2;
  margin: 0 auto;
  padding: 6px 0;
  width: auto;
}
.filter__btn:hover {
  box-shadow: 0 0px 2px rgba(97, 97, 97, 0.6);
}
/*WIP*/
.sort-filter {
  background: #ebebeb;
  box-shadow: 0 0 0.4px 0.5px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
  color: #616161;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  font-weight: normal;
  justify-content: space-between;
  line-height: 1;
  margin: 0 0 20px;
  padding: 12px 20px 8px 20px;
  /*font correction for vertical centering*/
  text-transform: uppercase;
}
.sort-filter * {
  margin: 0;
  padding: 0;
}
.sort-filter__title {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin-right: 180px;
}
.sort-filter__link--up-arrow {
  margin-right: -90px;
}
.sort-filter__link {
  color: inherit;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
}
.sort-filter__link:hover {
  opacity: 0.6;
}
.sort-filter__link--active {
  color: #ad6255;
  cursor: default;
}
.sort-filter__link--active:active {
  color: #ad6255;
}
.sort-filter__link--active:active:hover {
  opacity: 1;
}
.sort-filter__link--active:hover {
  opacity: 1;
}
.sort-filter__link--disable {
  cursor: default;
  opacity: 0.6;
}
.paginator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.paginator__item {
  border-radius: 3px;
  box-shadow: 0 0.44px 1px rgba(0, 0, 0, 0.6);
  margin: 0 10px 0 0;
}
.paginator__item:hover {
  box-shadow: 0 0px 2px rgba(97, 97, 97, 0.6);
}
.paginator__link {
  color: #616161;
  display: block;
  font-family: inherit;
  font-size: 16px;
  line-height: 1;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
}
.paginator__item:first-child .paginator__link,
.paginator__item:last-child .paginator__link {
  padding: 10px 30px;
}
.paginator__item--current {
  background: #ad6255;
}
.paginator__item--current:hover {
  box-shadow: 0 0.44px 1px rgba(0, 0, 0, 0.6);
}
.paginator__item--current .paginator__link {
  color: #ffffff;
}
.paginator__item--current .paginator__link:hover {
  cursor: default;
}
.paginator__item--disabled {
  box-shadow: 0 0px 2px rgba(97, 97, 97, 0.6);
  opacity: .3;
}
.paginator__item--disabled:hover {
  cursor: default;
}
/*cart*/
.cart-page {
  color: #616161;
  font-size: 16px;
  line-height: 1.4;
  position: relative;
}
.cart-page__container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1200px;
  min-height: 380px;
}
.cart-page__container::after {
  clear: both;
  content: "";
  display: table;
}
.cart-page__container::after {
  clear: both;
  content: "";
  display: table;
}
.cart-page__left-column {
  float: left;
  padding: 10px 15px;
  width: 60%;
}
.cart-page__items-amount {
  border-bottom: 2px solid grey;
  display: block;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  width: 100%;
}
.cart-page__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.cart-page__item {
  box-shadow: 0 1px 0 0 rgba(192, 192, 192, 0.5);
  margin: 0;
  padding: 10px 0;
}
.cart-page__item::after {
  clear: both;
  content: "";
  display: table;
}
.cart-page__image-container {
  height: 180px;
  float: left;
  width: 280px;
}
.cart-page__item-info {
  float: right;
  height: 176px;
  padding: 4px 0 0 20px;
  width: 58%;
}
.cart-page__title-container {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-weight: normal;
  justify-content: space-between;
  margin: 0 0 12px;
}
.cart-page__item-title {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.cart-page__item-price {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}
.cart-page__features-list {
  font-size: 15px;
  margin: 0 0 10px 15px;
  padding: 0;
}
.cart-page__label {
  display: inline-block;
  text-transform: capitalize;
  vertical-align: baseline;
}
.cart-page__input {
  background: transparent;
  border: none;
  border-radius: 3px;
  box-shadow: 0 0.44px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.6) inset;
  color: inherit;
  display: inline-block;
  font: inherit;
  font-size: 14px;
  line-height: 1;
  margin: 0 20px 0 0;
  outline: none;
  padding: 3px 5px 1px;
  text-align: center;
  text-transform: capitalize;
  vertical-align: baseline;
  width: 20px;
}
/* no arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart-page__btn {
  background: #ebebeb;
  border-radius: 3px;
  box-shadow: 0 0 0.4px 0.5px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.4);
  display: inline-block;
  font-size: 14px;
  color: inherit;
  line-height: 1;
  margin: 0 auto;
  padding: 3.2px 5px .5px;
  text-transform: uppercase;
  vertical-align: baseline;
  width: auto;
}
.order-summary {
  box-shadow: 1px 1px 0.4px 0.5px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.2);
  float: right;
  padding: 10px 15px 15px;
  width: 32%;
}
.order-summary__title-container {
  border-bottom: 2px solid grey;
  position: relative;
  text-transform: uppercase;
}
.order-summary__title {
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.order-summary__update-btn {
  background: #ebebeb;
  border-radius: 3px;
  box-shadow: 0 0 0.4px 0.5px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.4);
  font-size: 14px;
  color: inherit;
  line-height: 1.2;
  margin: 0 auto;
  padding: 5px 10px 2px;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
.order-summary__text-container {
  display: table;
  width: 100%;
}
.order-summary__text {
  display: table-row;
}
.order-summary__text:last-child {
  box-shadow: 0 -1px 0 0 rgba(192, 192, 192, 0.5);
}
.order-summary__text-container span {
  display: table-cell;
  text-align: left;
}
.order-summary__text-container span:last-of-type {
  text-align: right;
}
.order-summary__text:last-child span {
  padding: 14px 0;
}
.order-summary__text span {
  padding: 10px 0;
}
.order-summary__btn {
  background: #ad6255;
  border-radius: 3px;
  color: #ffffff;
  /*?*/
  display: block;
  font-family: inherit;
  font-size: 18px;
  font-weight: inherit;
  line-height: 1;
  margin: 15px 0 0;
  padding: 10px 5px 10px 16px;
  position: relative;
  width: auto;
}
/*orderform*/
.orderform-page {
  color: #616161;
  font-size: 16px;
  line-height: 1.4;
  position: relative;
}
.orderform-page__container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1200px;
}
.orderform-page__container::after {
  clear: both;
  content: "";
  display: table;
}
.orderform-page__container::after {
  clear: both;
  content: "";
  display: table;
}
.orderform-page__checkout-column {
  float: left;
  width: 50%;
}
.orderform-page__title {
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.orderform-page__acount-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 20px;
}
.orderform-page__text {
  font-weight: normal;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
.orderform-page__sign-btn {
  background: #ebebeb;
  border-radius: 3px;
  box-shadow: 0 0 0.4px 0.5px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.4);
  font-size: 14px;
  line-height: 1.2;
  margin: 0;
  padding: 5px 10px 2px;
  width: 40px;
}
.orderform-page__section {
  color: #616161;
  display: table;
  margin: 0 0 20px;
  width: 100%;
}
.orderform-page__section-title {
  border-bottom: 2px solid grey;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  width: 100%;
}
.orderform-page__text-margin {
  margin: 0 0 10px;
}
.orderform-page__input,
.orderform-page__select,
.orderform-page__label {
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  color: inherit;
  font-size: 16px;
  line-height: 1;
  margin: 0 10px 10px 0;
  outline: none;
  padding: 15px 10px 12px;
  text-transform: uppercase;
  width: calc(50% - 5px);
}
.orderform-page__input:nth-of-type(2n),
.orderform-page__select:nth-of-type(2n),
.orderform-page__label:nth-of-type(2n) {
  margin: 0 0 10px 0;
}
.orderform-page__section-shipping .orderform-page__input:nth-of-type(3n-1) {
  margin: 0 0 10px 0;
}
.orderform-page__section-shipping .orderform-page__input:nth-of-type(4) {
  margin: 0 10px 10px 0;
}
.orderform-page__input--full-width {
  width: 100%;
}
.orderform-page__select {
  padding: 14px 10px 12px;
}
.orderform-page__label {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4);
  display: inline-block;
  text-align: center;
}
.orderform-page__payment-btn {
  display: none;
}
.orderform-page__payment-btn:checked + label {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.4);
}
.orderform-page__card-container,
.orderform-page__paypal-container {
  display: none;
}
.orderform-page__option-disabled {
  display: none;
}
#card-btn:checked ~ .orderform-page__card-container {
  display: table-row;
}
#paypal-btn:checked ~ .orderform-page__paypal-container {
  display: table-row;
}
.order-summary__order-btn {
  background: #ad6255;
  border-radius: 3px;
  color: #ffffff;
  display: block;
  font-family: inherit;
  font-size: 18px;
  font-weight: inherit;
  line-height: 1;
  margin: 0 0 15px;
  padding: 10px 5px 10px 16px;
  position: relative;
  width: 100%;
}
/*orders*/
.order-page {
  margin: 0 auto;
  padding: 0 10px;
  width: 1200px;
  color: #616161;
  font-size: 16px;
  line-height: 1.4;
  text-align: justify;
}
.order-page::after {
  clear: both;
  content: "";
  display: table;
}
.order-page::after {
  clear: both;
  content: "";
  display: table;
}
.order-page__main-title {
  font-weight: 100;
  color: #ad6255;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.order-page__title {
  font-weight: 100;
  margin: 15px 0 10px;
  padding: 0;
}
.order-page__text {
  font-weight: normal;
  font-size: 16px;
  font-style: italic;
  margin: 0 0 10px;
  padding: 0;
}
.order-page__inner-text {
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  margin: 0;
  padding: 0;
}
.order-page__table {
  border-collapse: collapse;
  margin: 0 0 20px;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}
.order-page__table tr:nth-child(odd) {
  background: rgba(242, 242, 242, 0.5);
}
.order-page__table th {
  background: linear-gradient(#616161, #878787, #757575);
  border-left: 1px solid #878787;
  border-right: 1px solid #878787;
  border-top: 1px solid #616161;
  border-bottom: 1px solid #616161;
  box-shadow: inset 0 1px 0 #999;
  color: #fff;
  font-weight: 100;
  padding: 10px 15px;
  text-shadow: 0 1px 0 #000;
}
.order-page__table th:first-child {
  border-left: 1px solid #777;
  box-shadow: inset 1px 1px 0 #999;
}
.order-page__table th:last-child {
  box-shadow: inset -1px 1px 0 #999;
}
.order-page__table td {
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 15px;
  position: relative;
}
.order-page__table td:first-child {
  box-shadow: inset 1px 0 0 #fff;
}
.order-page__table td:last-child {
  border-right: 1px solid #e8e8e8;
  box-shadow: inset -1px 0 0 #fff;
}
.order-page__table tr:last-of-type td {
  box-shadow: inset 0 -1px 0 #fff;
}
.order-page__table tr:last-of-type td:first-child {
  box-shadow: inset 1px -1px 0 #fff;
}
.order-page__table tr:last-of-type td:last-child {
  box-shadow: inset -1px -1px 0 #fff;
}
/*item*/
.item-page {
  margin: 0 auto;
  padding: 0 10px;
  width: 1200px;
  color: #616161;
  font-size: 16px;
  line-height: 1.4;
  padding: 0;
  text-align: justify;
}
.item-page::after {
  clear: both;
  content: "";
  display: table;
}
.item-page::after {
  clear: both;
  content: "";
  display: table;
}
.item-page__container::after {
  clear: both;
  content: "";
  display: table;
}
.item-page__figure {
  display: flex;
  flex-direction: row;
  float: left;
  justify-content: space-between;
  width: 460px;
  flex-wrap: wrap;
  margin: 0 0 50px;
}
.item-page__img-link {
  align-items: center;
  box-shadow: 0 0 0.2px 0.3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
  color: #000;
  display: flex;
  justify-content: center;
  height: 140px;
  padding: 0;
  text-decoration: none;
  width: 140px;
}
.item-page__img-link:first-child {
  height: 298px;
  /*?*/
  margin: 0 0 15px;
  padding: 0;
  text-align: center;
  width: 460px;
  /*?*/
}
.item-page__img-link:hover {
  box-shadow: 0 0 0.3px 0.5px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.25);
}
.item-page__img-link:first-child img {
  background: grey;
}
.item-page__main-details {
  float: right;
  position: relative;
  width: calc(100% - 480px);
}
.item-page__item-title {
  color: #ad6255;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}
.item-page__item-title span {
  display: block;
}
.item-page__item-title span:last-child {
  font-size: 20px;
  margin: 0 0 10px;
  text-transform: uppercase;
}
.item-page__quantity {
  color: #567a78;
  font-size: 16px;
  margin: 10px 0 5px;
  text-transform: uppercase;
}
.item-page__rating-container {
  margin: 0 0 10px 0;
}
.item-page__user-rating {
  font-size: 20px;
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 3px 15px;
}
.item-page__user-rating span {
  box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.6);
  color: #616161;
  cursor: pointer;
  margin: 0 2px 0 0;
}
.item-page__link {
  color: inherit;
  font: inherit;
}
.item-page__item-price-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0 0 40px;
  position: relative;
  width: 137px;
}
.item-page__item-price-container b {
  font-size: 20px;
  font-weight: normal;
  padding: 2px 50px 0 20px;
}
.item-page__btn {
  color: #fff;
  font: inherit;
  padding: 2px 10px 0px;
  position: relative;
  width: auto;
}
.item-page__btn::before {
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  transform: skewX(-45deg);
  z-index: -1;
}
.item-page__btn:hover::before {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.6), 0 0.5px 1px rgba(0, 0, 0, 0.6), 0 -0.5px 1px rgba(0, 0, 0, 0.6);
}
.item-page__btn--add {
  z-index: 1;
}
.item-page__btn--add::before {
  background: #ad6255;
  left: -30%;
  width: 61px;
}
.item-page__btn--buy {
  background: #7da3a1;
  padding: 2px 10px 0 30px;
}
.item-page__btn--buy::before {
  background: #7da3a1;
  right: -20%;
  width: 61px;
}
.item-page__features-list {
  list-style: circle;
  margin: 0;
  padding: 0 0 0 20px;
}
.item-page__feature-item {
  margin: 0 0 10px;
}
.item-page__extended-details {
  clear: both;
  width: 100%;
}
.item-page__section-title {
  margin: 0;
  padding: 0;
}
.item-page__description-container {
  margin: 0 0 20px;
}
.item-page__description-text {
  text-indent: 10px;
}
.item-page__reviews {
  display: none;
  /*WIP*/
}
.details-table {
  border-collapse: collapse;
  margin: 0 0 20px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
}
.details-table tr:nth-child(odd) {
  background: rgba(242, 242, 242, 0.5);
}
.details-table th {
  background: linear-gradient(#616161, #878787, #757575);
  border-left: 1px solid #878787;
  border-right: 1px solid #878787;
  border-top: 1px solid #616161;
  border-bottom: 1px solid #616161;
  box-shadow: inset 0 1px 0 #999;
  font-weight: normal;
  color: #fff;
  padding: 10px 15px;
  text-shadow: 0 1px 0 #000;
}
.details-table th:first-child {
  border-left: 1px solid #777;
  box-shadow: inset 1px 1px 0 #999;
}
.details-table th:last-child {
  box-shadow: inset -1px 1px 0 #999;
}
.details-table td {
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 15px;
}
.details-table td:first-child {
  box-shadow: inset 1px 0 0 #fff;
}
.details-table td:last-child {
  border-right: 1px solid #e8e8e8;
  box-shadow: inset -1px 0 0 #fff;
}
.details-table tr:last-of-type td {
  box-shadow: inset 0 -1px 0 #fff;
}
.details-table tr:last-of-type td:first-child {
  box-shadow: inset 1px -1px 0 #fff;
}
.details-table tr:last-of-type td:last-child {
  box-shadow: inset -1px -1px 0 #fff;
}
td.details-table__col--narrow {
  border: none;
  height: 0;
  padding: 0;
  position: absolute;
  width: 0;
}
td.details-table__col--narrow a {
  position: absolute;
  right: -20px;
  top: 10px;
}
.details-table__btn {
  border: none;
  display: block;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  padding: 12px 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 140px;
  background: #ebebeb;
  border-radius: 2px;
  bottom: 10px;
  box-shadow: 0 0 0.4px 0.3px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.25);
  font-family: inherit;
  font-size: 16px;
  font-weight: inherit;
  line-height: 1;
  margin: 0;
  padding: 9px 0 6px 0;
  position: absolute;
  right: -200px;
}
.details-table__btn--delete {
  border: none;
  display: block;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  padding: 12px 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 140px;
  background: #ebebeb;
  border-radius: 2px;
  box-shadow: 0 0 0.4px 0.3px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.25);
  font-family: inherit;
  font-size: 16px;
  font-weight: inherit;
  line-height: 1;
  margin: 0;
  padding: 9px 0 6px 0;
  width: 25px;
}
/*contacts*/
.contacts-page {
  margin: 0 auto;
  padding: 0 10px;
  width: 1200px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  color: #616161;
  line-height: 1.4;
  margin: 0 auto 20px;
  padding: 0;
  position: relative;
  text-align: justify;
}
.contacts-page::after {
  clear: both;
  content: "";
  display: table;
}
.contacts-page::after {
  clear: both;
  content: "";
  display: table;
}
.contacts-page__wrapper {
  padding: 10px 20px;
}
.contacts-page__wrapper::before {
  bottom: 16px;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
  content: "";
  height: 2%;
  /*?*/
  left: 20px;
  max-width: 300px;
  /*?*/
  position: absolute;
  transform: skew(-15deg) rotate(-6deg);
  width: 50%;
  /*?*/
  z-index: -1;
}
.contacts-page__wrapper::after {
  bottom: 16px;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
  content: "";
  height: 2%;
  /*?*/
  left: auto;
  max-width: 300px;
  /*?*/
  position: absolute;
  right: 20px;
  transform: skew(15deg) rotate(6deg);
  width: 50%;
  /*?*/
  z-index: -1;
}
.contacts-page__main-title {
  color: #ad6255;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 40px;
  padding: 0 0 0 20px;
  text-align: center;
  text-transform: uppercase;
}
.contacts-page__form {
  float: left;
  width: 50%;
}
.contacts-page__label {
  display: block;
  margin: 0 0 10px;
}
.contacts-page__input,
.contacts-page__textarea {
  font: inherit;
  margin: 0;
  outline: none;
  padding: 0 1%;
  width: 200px;
}
.contacts-page__textarea {
  min-height: 200px;
  width: 98%;
}
.contacts-page__btn {
  background: #ebebeb;
  border-radius: 3px;
  box-shadow: 0 0 0.4px 0.5px rgba(0, 0, 0, 0.2), 0 1px 4px rgba(0, 0, 0, 0.4);
  font-size: 14px;
  color: inherit;
  line-height: 1.2;
  margin: 0 0 20px;
  padding: 8px 10px 5px;
  width: 100%;
}
.contacts-page__btn:hover {
  box-shadow: 0 0 0.4px 0.5px rgba(0, 0, 0, 0.15), 0 1px 4px rgba(0, 0, 0, 0.25);
}
.contacts-page__section-container {
  float: right;
  width: 45%;
}
.contacts-page__title {
  color: #ad6255;
  font-size: 18px;
  font-weight: normal;
  margin: 0 0 10px;
  padding: 0;
  text-transform: uppercase;
}
.contacts-page__text {
  display: block;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
.contacts-page__text--bottom-margin {
  font-size: 18px;
  margin: 0 0 10px;
  padding: 0;
}
.map-module {
  background: grey;
  height: 158px;
  margin: 0 0 10px;
  position: relative;
  width: 300px;
}
.map-module:hover .map-module__big-map {
  display: block;
  z-index: 10;
}
.map-module iframe {
  border: 0;
}
.map-module__big-map {
  box-shadow: 0 0 16px 1px rgba(35, 31, 32, 0.5);
  display: none;
  left: -150%;
  position: absolute;
  top: 0;
}
/*content*/
.content {
  margin: 0 auto;
  padding: 0 10px;
  width: 1200px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  color: #616161;
  line-height: 1.4;
  margin: 0 auto 20px;
  min-height: 380px;
  padding: 10px 0 0;
  position: relative;
  text-align: justify;
}
.content::after {
  clear: both;
  content: "";
  display: table;
}
.content::after {
  clear: both;
  content: "";
  display: table;
}
.content__container {
  padding: 10px 20px;
}
.content__container::before {
  bottom: 16px;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
  content: "";
  height: 2%;
  /*?*/
  left: 20px;
  max-width: 300px;
  /*?*/
  position: absolute;
  transform: skew(-15deg) rotate(-6deg);
  width: 50%;
  /*?*/
  z-index: -1;
}
.content__container::after {
  bottom: 16px;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
  content: "";
  height: 2%;
  /*?*/
  left: auto;
  max-width: 300px;
  /*?*/
  position: absolute;
  right: 20px;
  transform: skew(15deg) rotate(6deg);
  width: 50%;
  /*?*/
  z-index: -1;
}
.content__title {
  color: #ad6255;
  font-size: 18px;
  font-weight: normal;
  margin: 0 10px 10px;
  padding: 0;
  text-transform: uppercase;
}
.content__paragraph {
  font-size: 18px;
  padding: 0;
  text-indent: 10px;
}
/*news*/
.news-page {
  margin: 0 auto;
  padding: 0 10px;
  width: 1200px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  margin: 0 auto 20px;
  padding: 0;
  position: relative;
}
.news-page::after {
  clear: both;
  content: "";
  display: table;
}
.news-page__container {
  padding: 15px;
}
.news-page__container::before {
  bottom: 16px;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
  content: "";
  height: 2%;
  /*?*/
  left: 20px;
  max-width: 300px;
  /*?*/
  position: absolute;
  transform: skew(-15deg) rotate(-6deg);
  width: 50%;
  /*?*/
  z-index: -1;
}
.news-page__container::after {
  bottom: 16px;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.3);
  content: "";
  height: 2%;
  /*?*/
  left: auto;
  max-width: 300px;
  /*?*/
  position: absolute;
  right: 20px;
  transform: skew(15deg) rotate(6deg);
  width: 50%;
  /*?*/
  z-index: -1;
}
.news-page__article {
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.05) inset;
  color: #616161;
  font: inherit;
  font-weight: normal;
  line-height: 1.4;
  margin: 0 0 20px;
  padding: 10px 30px;
  position: relative;
  text-align: justify;
}
.news-page__image-container {
  float: left;
  height: 240px;
  margin: 0 20px 0 0;
  width: 350px;
}
.news-page__image-container img {
  height: 240px;
  width: 100%;
}
.news-page__section {
  height: 240px;
  overflow: hidden;
  position: relative;
}
.news-page__section-title {
  color: #ad6255;
  font-size: 20px;
  font-weight: normal;
  margin: 0 0 20px;
  padding: 0;
  text-indent: 20px;
  text-transform: uppercase;
}
.news-page__text {
  font-size: 18px;
  margin: 0;
  padding: 0;
  text-indent: 20px;
}
.news-page__extended-news {
  display: none;
}
.news-page__open-btn {
  background: #ffffff;
  bottom: 0;
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1), inset -1px -1px rgba(0, 0, 0, 0.1);
  left: 0;
  padding: 10px 0;
  position: absolute;
  right: 0;
  text-align: center;
}
.news-page__open-btn:hover {
  background: grey;
  color: #ffffff;
}
.news-page__close-btn {
  bottom: -1.5%;
  display: none;
  height: 20px;
  opacity: .5;
  position: absolute;
  right: -2.2%;
  width: 20px;
}
.news-page__close-btn:hover {
  opacity: 1;
}
.news-page__close-btn::before {
  background: rgba(0, 0, 0, 0.5);
  content: "";
  height: 20px;
  left: 45%;
  position: absolute;
  top: 0;
  transform: rotate(45deg);
  width: 2px;
}
.news-page__close-btn::after {
  background: rgba(0, 0, 0, 0.5);
  content: "";
  height: 20px;
  left: 45%;
  position: absolute;
  top: 0;
  transform: rotate(-45deg);
  width: 2px;
}
.news-page__input {
  display: none;
}
.news-page__input:checked ~ .news-page__section .news-page__open-btn {
  display: none;
}
.news-page__input:checked ~ .news-page__section .news-page__close-btn {
  display: block;
}
.news-page__input:checked ~ .news-page__section .news-page__extended-news {
  display: block;
}
.news-page__input:checked ~ .news-page__section {
  height: auto;
  overflow: visible;
  width: 100%;
}
/*admin*/
.admin-page-container {
  align-items: flex-start;
  background: #74AFAD;
  display: flex;
  flex-direction: row;
}
.admin-page {
  background: #fff;
  width: 85%;
}
/*create product form*/
.create-product {
  background: #fff;
  color: #616161;
  font-size: 16px;
  line-height: 1.2;
  padding: 20px;
  text-transform: uppercase;
  width: 100%;
}
.create-product__title {
  font-weight: normal;
  margin: 0 0 40px;
  padding: 0;
  text-align: center;
}
.create-form {
  color: #616161;
  float: left;
  font-weight: normal;
  margin: 0 20px 0 0;
  width: 60%;
}
.create-form__input,
.create-form__select,
.create-form textarea {
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  color: inherit;
  font-size: 14px;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 10px 5px 7px;
  text-transform: uppercase;
  width: calc(100%);
}
.extra-table {
  width: 80%;
}
.extra-table input {
  width: 100%;
}
.create-form__input--narrow {
  box-shadow: none;
  padding: 0;
  width: 20px;
}
.details-table__col {
  text-align: center;
}
.details-table__col span {
  margin: 0 10px 0 0;
}
.create-form select {
  padding: 9px 5px 7px;
}
.create-form .create-form__btn,
.create-form__btn {
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
  padding: 12px 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 140px;
  background: #ebebeb;
  border-radius: 2px;
  box-shadow: 0 0 0.4px 0.3px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(0, 0, 0, 0.25);
  display: block;
  font-family: inherit;
  font-size: 16px;
  font-weight: inherit;
  line-height: 1;
  margin: 0;
  padding: 10px 0 7px 0;
  width: 100%;
}
.create-form__btn--upload {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  color: inherit;
  font-size: 16px;
  line-height: 1;
  margin: 0 10px 10px 0;
  padding: 15px 10px 12px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
.create-form__btn--file {
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  z-index: -1;
}
.create-form__option-disabled {
  display: none;
}
